<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 <head>
  <link rel="stylesheet" href="css/default.css" type="text/css">
  <title>Stockholm Perl Mongers</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 </head>
 <body>
  <div id="header">
   Stockholm Perl Mongers
  </div>
  <div id="page">
   <div id="navigation">
    &middot; <a href="index.html">Om oss</a><br>
    &middot; <a href="users.html">Anv&auml;ndare</a><br>
	&middot; <a href="constitution.html">Stadgar</a><br>
	&middot; <a href="board.html">Styrelse</a><br>
   </div>
   <div id="content">