BODY {
    font-family: Gill Sans, Helvetica, sans-serif;
    font-size: 12pt;
    margin: 0px;
}

DIV#page {
    max-width: 750px;
}

DIV#header {
    background: url(../images/silhouette.png) top right no-repeat;
    padding-left: 20px;
    padding-top: 20px;
    height: 93px;
}

DIV#navigation {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
}

DIV#content {
    text-align: justify;
    padding: 20px;
    border-left: 1px dashed #ccc;
}
 
DIV#navigation a {
    text-decoration: none;
    color: #666;
}

DIV#navigation a.cp {
    text-decoration: underline;
    color: black;
}

DIV.announcements {
    font-size: 12pt;
    font-style: italic;
    margin-bottom: 12px;
    color: #900;
    font-weight: bold;
}

DIV#footer {
    border-top: 1px solid #ccc;
    padding-left: 20px;
    padding-top: 8px;
    font-size: 9pt;
}

SPAN.h2 {
    font-size: 16pt;
    font-weight: bold;
}