<span class="h2">Styrelse</span>
 <p><b>Ordf&ouml;rande</b><br>
 Claes Jakobsson, claes (at) surfar.nu</p>
 <p><b>Kass&ouml;r/sekreterare</b><br>
 Erwan Lemonnier, erwan (at) lemonnier.se</p>
 <p><b>Ledamot</b><br>
 Johan Viklund, johan.viklund (at) gmail.com</p>
<p>
</p>
